@font-face {
  font-family: "Arial", sans-serif;
  src: url("../../assets/fonts/arial/arial-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Arial", sans-serif;
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Arial", sans-serif;
  src: url("../../assets/fonts/arial/arial-italic.ttf") format("truetype");
  font-style: italic;
  // font-weight: 400;
}

@font-face {
  font-family: "Georgia", serif;
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
