@font-face {
  font-family: "Arial", sans-serif;
  src: url("../../assets/fonts/arial/arial-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Arial", sans-serif;
  src: url("../../assets/fonts/arial/arial-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Arial", sans-serif;
  src: url("../../assets/fonts/arial/arial-italic.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Georgia", serif;
  src: url("../../assets/fonts/georgia/georgia-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

.banner__title, .about__title, .friends__title, .help__title, .addition__title, .friends-pets__title, .footer__title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.3;
}

.btn-primary, .btn__slider, .card__btn, .friends-pets__card__btn {
  display: block;
  background-color: transparent;
  border: none;
  text-align: center;
  letter-spacing: inherit;
  cursor: pointer;
}

.btn-primary {
  padding: 15px;
  border-radius: 100px;
  background-color: #f1cdb3;
  width: 207px;
  height: 52px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  color: #292929;
  -webkit-transition: background-color 300ms ease-in-out;
  transition: background-color 300ms ease-in-out;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #fddcc4;
}

.btn__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  -webkit-transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.btn__slider svg {
  width: 14px;
  height: 30px;
}

.btn__slider:hover, .btn__slider:focus {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.btn__slider:disabled {
  border-color: #cdcdcd;
  color: #cdcdcd;
}

.btn__slider:disabled:hover, .btn__slider:disabled:focus {
  cursor: not-allowed;
  background-color: #fff;
}

.header--main {
  padding-top: 60px;
}

.header--pets {
  padding: 30px 0;
  position: fixed;
  width: 100vw;
  height: 120px;
  z-index: 10;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__name {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 32px;
  line-height: 1.09;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin-bottom: 10px;
}

.logo__name--pets-page {
  color: #545454;
}

.logo__desc {
  font-size: 13px;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #fff;
}

.logo__desc--pets-page {
  color: #292929;
}

.nav__thumb {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 35px;
  max-width: 443px;
}

.nav__link {
  font-size: 15px;
  line-height: 1.6;
  color: #cdcdcd;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.nav__link:hover, .nav__link:focus {
  color: #fafafa;
}

.nav__link--pets {
  color: #545454;
}

.nav__link--pets:hover, .nav__link--pets:focus {
  color: #292929;
}

.nav__link--active {
  position: relative;
  color: #fafafa;
}

.nav__link--active::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 3px;
  width: 100%;
  background: #f1cdb3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav__link--pets.nav__link--active {
  color: #545454;
}

.nav__link--pets.nav__link--active::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner {
  padding-top: 60px;
}

.banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 912px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
  background-repeat: no-repeat;
  background-position: top;
}

.banner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 42px;
}

.banner__left {
  padding-top: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 42px;
  min-width: 460px;
}

.banner__title {
  font-size: 44px;
  color: #fff;
}

.banner__descr {
  font-size: 15px;
  line-height: 1.6;
  color: #cdcdcd;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 120px;
}

.about__right {
  max-width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
}

.about__title {
  letter-spacing: 0.06em;
  color: #545454;
}

.about__descr {
  font-size: 15px;
  line-height: 1.6;
  color: #4c4c4c;
}

.friends {
  background: #f6f6f6;
}

.friends__title {
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 60px;
}

.friends__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 53px;
}

.friends__slider-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 90px;
}

.friends__btn-more {
  width: 261px;
  margin: 0 auto;
  margin-top: 60px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  gap: 30px;
  max-width: 270px;
  min-height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.card:hover .card__btn {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.card__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #545454;
}

.card__btn {
  padding: 15px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-size: 17px;
  line-height: 1.3;
  color: #292929;
  width: 187px;
  height: 52px;
  -webkit-transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.help__title {
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 60px;
}

.help__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 1026px;
  row-gap: 55px;
  -webkit-column-gap: 120px;
          column-gap: 120px;
}

.help__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__icon {
  width: 60px;
  height: 60px;
}

.addition {
  background: #f6f6f6;
}

.addition__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.addition__right {
  max-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.addition__title {
  letter-spacing: 0.06em;
  color: #545454;
}

.addition__bank-name {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.13;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition__bank-nr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  padding: 10px 14px;
  width: 349px;
  min-height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #545454;
}

.addition__bank-nr svg {
  width: 30px;
  height: 23px;
}

.addition__descr {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #b2b2b2;
}

.friends-pets {
  background-color: #f6f6f6;
  padding-top: 200px;
}

.friends-pets__title {
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-bottom: 60px;
}

.friends-pets__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  row-gap: 30px;
  margin-bottom: 60px;
}

.friends-pets__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;
  gap: 30px;
  max-width: 270px;
  min-height: 435px;
  background-color: #fafafa;
  border-radius: 9px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}

.friends-pets__card:hover {
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}

.friends-pets__card:hover .card__btn {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.friends-pets__card__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  color: #545454;
}

.friends-pets__card__btn {
  padding: 15px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  font-size: 17px;
  line-height: 1.3;
  color: #292929;
  width: 187px;
  height: 52px;
  -webkit-transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
  transition: background-color 300ms ease-in-out, border 300ms ease-in-out;
}

.pagination-thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.footer {
  padding-top: 56px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 160px;
}

.footer__item {
  width: 100%;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__item--first {
  max-width: 280px;
}

.footer__item--second {
  max-width: 302px;
}

.footer__title {
  color: #fff;
  letter-spacing: 0.06em;
}

.footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

.footer__icon1 {
  width: 100%;
  width: 42px;
  height: 32px;
}

.footer__icon2 {
  width: 100%;
  max-width: 22px;
  height: 32px;
}

.footer__img {
  position: relative;
}
/*# sourceMappingURL=main.css.map */