.header {
  &--main {
    position: absolute;
    width: 100vw;
    padding-top: 60px;

    @media screen and (max-width: 1279px) {
      padding-top: 30px;
    }

    @media screen and (max-width: 767px) {
      overflow-x: hidden;
      height: 95px;
      transition: height 1000ms $t-foo;

      &.menu-open {
        height: 100vh;
      }
    }
  }
  &--pets {
    padding: 30px 0;

    position: fixed;
    width: 100vw;
    height: 120px;
    z-index: 10;

    background-color: $white;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.menu-open {
      justify-content: flex-end;
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__name {
    font-family: "Georgia";
    font-weight: 400;
    font-size: 32px;
    line-height: 1.09;
    letter-spacing: 0.06em;
    color: #f1cdb3;

    margin-bottom: 10px;

    &--pets-page {
      color: #545454;
      @media screen and (max-width: 1279px) {
        margin-bottom: 6px;
      }
    }
  }

  &__desc {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 0.1em;

    color: $white;

    &--pets-page {
      color: #292929;
    }
  }
  &.menu-open {
    display: none;
  }
}

.mobile-menu {
  @media screen and (max-width: 767px) {
    position: absolute;
    right: -300px;
    top: 0;
    width: 0;
    height: 0;
    z-index: 10;
    transition: right 1000ms $t-foo, width 1000ms $t-foo, height 1000ms $t-foo,
      background 1000ms $t-foo;

    &.menu-open {
      right: 0;
      width: 100%;
      height: 100vh;
      max-width: 320px;
      padding: 30px 10px;

      position: absolute;
      background: #292929;
      transition: right 1000ms $t-foo, background 1000ms $t-foo,
        width 1000ms $t-foo, height 1000ms $t-foo;

      .mobile-menu__top {
        display: flex;
        justify-content: flex-start;
        gap: 43px;
        align-items: center;

        margin-bottom: 158px;
      }
    }
  }
}

.burger {
  display: none;

  position: absolute;
  top: 47px;
  right: 52px;
  z-index: 100;

  width: 30px;
  height: 22px;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // gap: 6px;

  border: none;
  padding: 0;

  background-color: transparent;
  cursor: pointer;

  transition: transform 1000ms $t-foo;

  &.open {
    transform: rotate(90deg);
  }

  &__icon {
    width: 30px;
    height: 2px;
  }

  @media screen and (max-width: 767px) {
    display: flex;
  }
}

.nav {
  @media screen and (max-width: 767px) {
    display: none;

    &.open {
      display: block;
    }
  }

  &__thumb {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 35px;
    max-width: 443px;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
  }

  &__link {
    font-size: 15px;
    line-height: 1.6;
    color: #cdcdcd;
    transition: color $duration $t-foo;

    &:hover,
    &:focus {
      color: #fafafa;
    }

    @media screen and (max-width: 767px) {
      font-size: 32px;
      color: #fafafa;
    }
  }

  &__link--pets {
    color: #545454;
    line-height: 1.3;
    &:hover,
    &:focus {
      color: #292929;
    }
  }

  &__link--active {
    position: relative;
    color: #fafafa;

    &::after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      height: 3px;
      width: 100%;
      background: #f1cdb3;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

  &__link--pets.nav__link--active {
    color: #545454;
    &::after {
      box-shadow: none;
    }
  }
}
