.banner {
  padding-top: 60px;
}
// =====================================
.banner {
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;

    width: 100%;
    height: 912px;

    background: url(noise_lines_transparent@2X.png),
      radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
    background-repeat: no-repeat;
    background-position: top;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 42px;
  }

  &__left {
    padding-top: 163px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    min-width: 460px;
  }

  &__title {
    @extend %title;

    font-size: 44px;
    color: $white;
  }

  &__descr {
    font-size: 15px;
    line-height: 1.6;

    color: #cdcdcd;
  }
}

//About
//========================
.about {
  &__container {
    display: flex;
    justify-content: center;
    gap: 120px;
  }

  &__right {
    max-width: 430px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }

  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
  }

  &__descr {
    font-size: 15px;
    line-height: 1.6;

    color: #4c4c4c;
  }
}

// OUR Friends
.friends {
  background: #f6f6f6;

  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
    text-align: center;
    margin-bottom: 60px;
  }
  &__slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 53px;
  }

  &__slider-list {
    display: flex;
    justify-content: space-between;
    gap: 90px;
  }

  &__btn-more {
    width: 261px;
    margin: 0 auto;
    margin-top: 60px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  gap: 30px;

  max-width: 270px;
  min-height: 435px;

  background-color: #fafafa;
  border-radius: 9px;

  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;

  letter-spacing: 0.06em;

  transition: background-color $duration $t-foo, box-shadow $duration $t-foo;

  &:hover {
    background-color: $white;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    cursor: pointer;

    .card__btn {
      background-color: $hover-btn-color;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    color: $title-grey;
  }

  &__btn {
    @extend %btn;

    padding: 15px;
    border: 2px solid $pramary-btn-color;
    border-radius: 100px;

    font-size: 17px;
    line-height: 1.3;
    color: #292929;

    width: 187px;
    height: 52px;

    transition: background-color $duration $t-foo;
  }
}

// help

.help {
  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
    text-align: center;
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 1026px;

    row-gap: 55px;
    column-gap: 120px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    letter-spacing: 0.06em;

    color: $title-grey;
  }

  &__icon {
    width: 60px;
    height: 60px;
  }
}

// iddition
.addition {
  background: #f6f6f6;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  &__right {
    max-width: 380px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
  }

  &__bank-name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.13;

    letter-spacing: 0.06em;

    color: $title-grey;
  }

  &__bank-nr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 14px;

    width: 349px;
    min-height: 43px;

    background: #f1cdb3;
    border-radius: 9px;

    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;

    letter-spacing: 0.06em;
    color: $title-grey;

    svg {
      width: 30px;
      height: 23px;
    }
  }

  &__descr {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;

    color: #b2b2b2;
  }
}
