.banner {
  padding-top: 185px;
  background: radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%)
    #211f20;
  background-repeat: no-repeat;
  background-position: top;

  @media screen and (max-width: 1278px) {
    padding-top: 150px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 150px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 42px;

    @media screen and (max-width: 1279px) {
      flex-direction: column;
      align-items: center;
      gap: 100px;
    }

    @media screen and (max-width: 767px) {
      gap: 105px;
    }
  }

  &__text-part {
    padding-top: 163px;
    display: flex;
    flex-direction: column;
    gap: 42px;
    max-width: 460px;

    @media screen and (max-width: 1279px) {
      padding-top: 0;
    }
  }

  &__title {
    @extend %title;

    font-size: 44px;
    color: $white;

    @media screen and (max-width: 450px) {
      font-size: 25px;
      letter-spacing: 0.06em;
    }
  }

  &__descr {
    font-size: 15px;
    line-height: 1.6;

    color: $white-grey;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__btn {
    @media screen and (max-width: 768px) {
      align-self: center;
    }
  }

  &__img-part {
    @media screen and (max-width: 1279px) {
      max-width: 569px;
      align-self: flex-end;
    }

    @media screen and (max-width: 767px) {
      max-width: 260px;
    }
  }
}

//About

.about {
  &__container {
    display: flex;
    justify-content: center;
    gap: 120px;

    @media screen and (max-width: 1279px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 80px;
    }

    @media screen and (max-width: 767px) {
      gap: 42px;
    }
  }

  &__image {
    @media screen and (max-width: 450px) {
      max-width: 260px;
    }
  }

  &__text-part {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;

    @media screen and (max-width: 767px) {
      text-align: justify;
      gap: 22px;
      max-width: 430px;
    }

    @media screen and (max-width: 450px) {
      max-width: 270px;
    }
  }

  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
  }

  &__descr {
    font-size: 15px;
    line-height: 1.6;

    color: #4c4c4c;
  }
}

// OUR Friends
.friends {
  background: $bg-grey;

  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (max-width: 450px) {
      margin-bottom: 42px;
    }
  }

  &__slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      gap: 20px;
    }
  }

  &__wraper {
    max-width: 991px;
    overflow-x: hidden;

    @media screen and (max-width: 1279px) {
      max-width: 580px;
    }

    @media screen and (max-width: 767px) {
      max-width: 270px;
    }
  }

  &__slider-list {
    display: flex;
    justify-content: flex-start;
    gap: 90px;
    // position: relative;
    // left: 0;
    transition: transform 2s;

    @media screen and (max-width: 1279px) {
      gap: 40px;
    }

    @media screen and (max-width: 767px) {
      gap: 10px;
    }

    &.next {
      transform: translateX(-109%);
    }
  }

  &__slider-item {
    position: relative;
  }
  // .transition-left {
  //   animation-name: move-left;
  //   animation-duration: 3s;
  // }

  // .transition-right {
  //   animation-name: move-right;
  //   animation-duration: 3s;
  // }

  // @keyframes move-left {
  //   from {
  //     // left: 0;
  //     left: -(991px+90px);
  //   }
  //   to {
  //     // left: (991px+90px);
  //     left: 0;
  //   }
  // }

  // @keyframes move-right {
  //   from {
  //     left: 0;
  //   }
  //   to {
  //     left: -(991px+90px);
  //   }
  // }
  .controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    transform: translateY(-50%);

    @media screen and (max-width: 450px) {
      position: static;
      justify-content: center;
      gap: 80px;

      transform: translateY(0%);
    }
  }

  &__btn-more {
    width: 261px;
    margin: 0 auto;
    margin-top: 60px;

    @media screen and (max-width: 767px) {
      margin-top: 42px;
    }
  }
}

// help

.help {
  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
    text-align: center;
    margin-bottom: 60px;

    @media screen and (max-width: 450px) {
      margin-bottom: 42px;
    }
  }

  &__list {
    width: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 55px;
    column-gap: 120px;

    @media screen and (max-width: 1279px) {
      row-gap: 55px;
      column-gap: 60px;
    }

    @media screen and (max-width: 767px) {
      gap: 30px;
    }

    @media screen and (max-width: 320px) {
      justify-content: flex-start;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;

    color: $title-grey;

    @media screen and (max-width: 1279px) {
      flex: 0 0 170px;
    }

    @media screen and (max-width: 767px) {
      flex: 0 0 130px;
      font-size: 15px;
      line-height: 1.13;
      gap: 20px;
    }
  }

  &__icon {
    width: 60px;
    height: 60px;

    @media screen and (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }
}

// addition

.addition {
  background: $bg-grey;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    @media screen and (max-width: 1279px) {
      flex-direction: column-reverse;
      gap: 60px;
    }

    @media screen and (max-width: 767px) {
      gap: 42px;
    }
  }

  &__img-part {
    @media screen and (max-width: 767px) {
      max-width: 260px;
    }
  }

  &__text-part {
    max-width: 380px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @media screen and (max-width: 767px) {
      align-items: center;
      gap: 22px;
    }
  }

  &__title {
    @extend %title;

    letter-spacing: 0.06em;
    color: $title-grey;
  }

  &__bank-name {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.13;
    letter-spacing: 0.06em;

    color: $title-grey;

    @media screen and (max-width: 767px) {
      letter-spacing: 0;
      line-height: 1.1;
    }
  }

  &__bank-nr {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: $title-grey;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 10px 14px;

    width: 349px;
    min-height: 43px;

    background: $pramary-btn-color;
    border-radius: 9px;
    transition: background-color $duration $t-foo;

    svg {
      width: 30px;
      height: 23px;
    }

    &:hover,
    &:focus {
      background-color: $hover-btn-color;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      max-width: 281px;
      min-height: 43px;
      font-size: 15px;
    }
  }

  &__descr {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;

    color: #b2b2b2;

    @media screen and (max-width: 767px) {
      text-align: justify;
      max-width: 280px;
    }
  }
}
