$white: #fff;
$white-Darker: #fafafa;

$white-grey: #cdcdcd;
$bg-grey: #f6f6f6;
$title-grey: #545454;

$pramary-btn-color: #f1cdb3;
$hover-btn-color: #fddcc4;

$dark: #292929;
$veryDark: #000;
$duration: 300ms;
$t-foo: ease-in-out;
